body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a:hover{
  text-decoration: none;
}
p{
  margin:0;
}
p.pointer:hover{
  cursor: pointer;
}
.navbarcolor{
  background-color: #b1c9e0;
}
.mainareacolor{
  background-color: #759fc7;
}
.complementarycolor{
  background-color: #54b4d1;
}

.rowheight{
  height:2rem;
  font-weight: bolder;
}

.containerheight{
  height:36rem;
}

.padding{
  padding: 2rem;
}

.floating{
  position: absolute;
  top:4rem;
  left: 1rem;
}
.image{
  padding:.5rem;
  width: 70%;
  margin: 0 auto;
}
.dwarves{
  background-color: #6c7d74;
}
.dwarvesnav{
  background-color: #7d726c;
}
.dwarvesbg{
  background-color: #7d6e6c;
}
.dwarvestext{
  color: 	#34383b;
}
.elves{
  background-color: #197e19;
}
.elvesnav{
  background-color: #4c7e19;
}
.elvesbg{
  background-color: #7e7e19;
}
.elvestext{
  color: 	#34383b;
}
.dragons{
  background-color: #deb900;
}
.dragonsnav{
  background-color: #c5ab27;
}
.dragonsbg{
  background-color: #c58327;
}
.dragonstext{
  color: 	#34383b;
}
.infocard{
  box-sizing: border-box;
  position:absolute;
  top:8rem;
  left:1rem;
  width:17rem;
  height: 30rem;
}
.infocardbasket{
  box-sizing: border-box;
  background-color: #7c119c;
  position:absolute;
  top:4rem;
  right:1rem;
  width:19rem;
  padding-bottom: 1rem;
  text-align: center;
}

.infocardbasket img{
  width:8rem;
  align-self: center;
  margin: 1rem 0;
}

.buttontext{
  font-size: 1rem;
  font-weight: 500;
  height: 2rem;
  opacity: .7;
  border-radius: .3rem;
}

.moreinfocard{
  box-sizing: border-box;
  position:absolute;
  top:12rem;
  left:20rem;
  width:30rem;
}
.list{
  list-style: none;
}
.closeX{
      padding  : .25rem;
      font-size  : .875rem;
      line-height  : .5;
      border-radius : .2rem;
  }
.closeX:hover{
  cursor:pointer;
}
.show{
     position:absolute;
     box-sizing: border-box;
     text-align: center;
     line-height: 3rem;
     top:0rem;
     left:0rem;
     padding:10%;
     width: 100%;
     background-color: #759fc7;
}
